@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}
.global {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}
.layout-padding {
  @apply mx-auto px-[165px];
}
@layer components {
  
  .footerLink {
    @apply relative inline-block text-gray-400 transition-colors duration-300 hover:text-white;
  }

  .footerLink::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-0 
    bg-gradient-to-r from-[#FF9898] to-[#8054FF]
    transition-all duration-300;
  }

  .footerLink:hover::after {
    @apply w-full;
  }

  
  .socialIcon {
    @apply w-9 h-9 rounded-full bg-white/10 flex items-center justify-center
    transition-all duration-300 ease-in-out cursor-pointer;
  }

  .socialIcon:hover {
    @apply bg-white/20 scale-110 -translate-y-1 shadow-lg shadow-purple-500/30;
  }
}
@layer components {
  .socialIcon .icon {
    color: white;
    transition: color 0.3s ease;
  }

  .socialIcon:hover .icon {
    color: #3b82f6; /* blue-500 */
  }
}


@layer components {
  /* Orbit Rotation */
  .orbit {
    animation: orbitRotate 12s linear infinite;
  }

  @keyframes orbitRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Keep icons straight while orbiting */
  .orbit-item {
    animation: orbitRotateReverse 12s linear infinite;
  }

  @keyframes orbitRotateReverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

.circle {
  border-radius: 50%;
}
.circle_right {
  width: 450px;
  height: auto;
  margin-left: 20px;
}
.hero-grid {
  background-color: #000000;
  background-image: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.06) 1px,
    transparent 1px,
    transparent 120px
  );
}
.hero-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.08),
    transparent 60%
  );
  pointer-events: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}
@media (max-width: 908px) {
  .layout-padding {
    @apply px-4;
  }
}
@media (max-width: 500px) {
  .layout-padding {
    @apply px-0.5;
  }
}

body {
  color: var(--foreground);
}
